
input:checked{
    outline: none;
}
 .el-input__prefix[class1='displayNone']{
    display: none;
}
/deep/ .el-input__prefix[class1='displayNone']{
    display: none;
}
.el-input__prefix[class1='displayNone']{
    display: none;
}
//// 滚动条 /////
::-webkit-scrollbar {
    width: 8px; /* 纵向滚动条*/
    height: 8px; /* 横向滚动条 */
    border-radius: 4px;
    background-color: rgba(0,0,0,0.3);
    float: right;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(255,255,255,0.4);
     float: right;

}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(0,0,0,0.3);
    float: right;
}
///////// 标题 /////////
.el-scrollbar__wrap{
    overflow-x: hidden!important;
}
/deep/ .el-scrollbar__wrap{
    overflow-x: hidden!important;
}
.is-required1:before{
    content: '*';
    color: #F56C6C;
    margin-right: 0.28571rem;
    position: relative;
    top:3px;
}

////////////// 警告 ///////////////////////




.QoptionButton{
    margin: 0;
    padding:7px 10px;
    background: black;
    color:white;
}
  .QoptionButton:focus{
      //background: black;
      //color:white;
  }
.Qfooter{
    text-align:center;
      .el-button{
        width: 140px;
        height: 36px;
        border: 1px solid #b9b9b9;
         border-radius: 5px;
    }
      .el-button:last-child{
        border: 0;
        //color:white;
        //background: #3280e7;
    }
    /deep/ .el-button{
        width: 140px;
        height: 36px;
        border: 1px solid #b9b9b9;
         border-radius: 5px;
    }
    /deep/ .el-button:last-child{
        border: 0;
        //color:white;
        //background: #3280e7;
    }
}
.Qdisplay{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.QDjusty{

}
.G_cursor:hover{
    cursor: pointer;
}

.QCenterRight{
    margin: 34px 30px 24px 30px;
    position: relative;
    .QHead{
        font-size: 24px;
        font-family: SourceHanSansCN, SourceHanSansCN-Medium;
        font-weight: bold;
        text-align: center;
        color: #222222;
    }
    .QHead1{
        font-weight: normal;
    }
    .QHead_list{
        text-align: center;
       span{
           font-size: 24px;
           font-family: SourceHanSansCN, SourceHanSansCN-Medium;
           color: #222222;
       }
    }


}
.QheadRight{
    position: absolute;
    right:0;
    top:-2px;
    .isDisabled{
         color: #d0d0d0;
        cursor: not-allowed;
        border-color:#d0d0d0;
        .svg-icon{
            fill: #d0d0d0;
        }
    }
    &>div{
        user-select: none;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2.28571rem;
        line-height: 2.28571rem;
        padding: 0.5rem;
        border-radius: 0.14286rem;
        border: 0.07143rem solid #d0d0d0;
        margin-left:10px;
        color: #3D568E;
    }
    .svg-icon{
        height:18px;
        width:18px;
        margin-right: 4px;
        vertical-align: text-top;
        fill: #3D568E;
    }
}

.G_isDisabled{
    background: #FFF;
     cursor: not-allowed!important;
    border-color:#D0D0D0;
    .svg-icon{
        fill: #D0D0D0;
     }



}
//////////////////////////////// element///////////

.el-dialog__headerbtn{
    top:14px;
}
.el-dialog__close{
    padding: 3px;
    border-radius: 50px;
    background: white;
    //border: 3px #909399 solid;
}
.el-dialog__close:before{
    font-size: 16px;
    font-weight: bold;
}
.el-dialog__header{
    padding: 0;
    height: 50px;
    line-height: 50px;
     background: #3d568e;
    .el-dialog__title {
        font-size: 18px;
         color: #ffffff;
    }
}
.el-date-editor{
    position: relative!important;
    .el-input__prefix{
        position: absolute;
        right:5px;
        top:0;
        left:auto;
     }
    .el-input__inner{
        padding-left: 15px;
    }
}


.Wtui-checkbox_zc:checked,
.Wtui-radioCC:checked,
.Wtui-checkbox:checked {
    background:#1673ff;
    border:solid 0px #888888;

}
/deep/ .Wtui-checkbox_zc:checked,
/deep/ .Wtui-radioCC:checked,
/deep/ .Wtui-checkbox:checked {
    background:#1673ff;
    border:solid 0px #888888;

}
.Wtui-checkbox_zc:focus,
.Wtui-radioCC:focus,
.Wtui-checkbox:focus{
    -webkit-appearance:none;
    -webkit-user-select:none;
    outline: none;
}
/deep/ .Wtui-checkbox_zc:focus,
/deep/ .Wtui-radioCC:focus,
/deep/ .Wtui-checkbox:focus{
    -webkit-appearance:none;
    -webkit-user-select:none;
    outline: none;
}
.Wtui-checkbox_zc:disabled,
.Wtui-radioCC:disabled,
.Wtui-checkbox:disabled{
    background: rgba(127, 127, 127, 0.5);
}
/deep/ .Wtui-checkbox_zc:disabled,
/deep/ .Wtui-checkbox:disabled{
    background: rgba(127, 127, 127, 0.5);
}
.Wtui-checkbox_zc,
.Wtui-checkbox,
.Wtui-radioCC {
     width:13px;
    height:13px;
    background-color:#ffffff;
    border:solid 1px #888888;
    -webkit-border-radius:50%;
    border-radius:50%;
    padding:0;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    cursor:default;
    -webkit-appearance:none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-transition:background-color ease 0.1s;
    transition:background-color ease 0.1s;
}
/deep/ .Wtui-checkbox_zc,
/deep/ .Wtui-checkbox,
/deep/ .Wtui-radioCC {
    width:13px;
    height:13px;
    background-color:#ffffff;
    border:solid 1px #888888;
    -webkit-border-radius:50%;
    border-radius:50%;
    padding:0;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    cursor:default;
    -webkit-appearance:none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-transition:background-color ease 0.1s;
    transition:background-color ease 0.1s;
}
.Wtui-checkbox_zc:checked::after,
.Wtui-checkbox:checked::after {
    content:'';
    top:3px;
    left:2px;
    position:absolute;
    background:transparent;
    border:#fff solid 2px;
    border-top:none;
    border-right:none;
    height:3px;
    width:7px;
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
/deep/ .Wtui-checkbox_zc:checked::after,
/deep/ .Wtui-checkbox:checked::after {
    content:'';
    top:3px;
    left:2px;
    position:absolute;
    background:transparent;
    border:#fff solid 2px;
    border-top:none;
    border-right:none;
    height:3px;
    width:7px;
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}


 .Wtui-radioCC:checked::after {
    content:'+';
     left: -1px;
     top: -4px;
      position:absolute;
    color:#fff;
     font-size: 17px;
     font-weight: bold;
     padding: 0;
    border-top:none;
    border-right:none;

     -moz-transform:rotate(-45deg);
     -ms-transform:rotate(-45deg);
     -webkit-transform:rotate(-45deg);
     transform:rotate(-45deg);

}

/deep/ .Wtui-radioCC:checked::after {
    content:'+';
    left: -1px;
    top: -4px;
    position:absolute;
    color:#fff;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    border-top:none;
    border-right:none;

    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);

}
  .Wtui-checkbox_zc,.Wtui-checkboxCC{
      -webkit-border-radius:2px;
      border-radius:2px;
  }
/deep/ .Wtui-checkboxCC{
      -webkit-border-radius:2px;
      border-radius:2px;
  }
/deep/ .Wtui-checkbox_zc{
      -webkit-border-radius:2px;
      border-radius:2px;
  }