
.G_listOne{
     padding: 0 30px;
    /deep/ .mainTable{
        height: 600px;
        overflow: auto;
    }
    .QlistBody{

    }
}
.G_listTwo{
    //.second{
    //    //width: calc(100% + 10px);
    //
    //    overflow: auto;
    //      /deep/ .cell:last-child{
    //        width: calc(100% - 100px);
    //     }
    //}

     padding: 0 30px;
    /deep/ .mainTable{
        height:calc(100vh - 400px);
        //overflow: auto;
    }
    .QlistBody{
        justify-content: left;

        .QlistLeft{
            width:45%;
            margin-right:30px;
        }
        .QlistRight{
            width:calc(55% - 30px)
        }
    }
}