
.G_listOne{
     padding: 0 30px;
    /deep/ .mainTable{
        height: 600px;
        overflow: auto;
    }
    .QlistBody{

    }
}
.G_listTwo{
     padding: 0 30px;
    /deep/ .mainTable{
        height: 600px;
        overflow: auto;
    }
    .QlistBody{
        justify-content: left;

        .QlistLeft{
            width:45%;
            margin-right:30px;
        }
        .QlistRight{
            width:calc(55% - 30px)
        }
    }
}