.tagBox {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #c7ccd2;
    .el-scrollbar__wrap {
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }
}

.el-date-editor:hover{

     .el-icon-date{
         //display: none;
     }
}