<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="/static/js/autoWin.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> --}}
    <script src="https://lib.baomitu.com/jquery/3.5.0/jquery.js"></script>
    {{!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> --}}
    <script src="https://lib.baomitu.com/jquery-ui-bootstrap/0.5pre/assets/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/static/js/jquery.jsplumb.js"></script>
   {{!-- <script src="https://cdn.bootcdn.net/ajax/libs/jsPlumb/2.13.2/js/jsplumb.min.js"></script> --}}
    {{!-- <script crossorigin="anonymous" integrity="sha384-Slanslzwg949wdu0nKZzOxkCKIcVrOQUBTAoUzx/UR4LK52aGjDaW8aH4yxgAThm" src="https://lib.baomitu.com/zTree.v3/3.5.40/js/jquery.ztree.all.js"></script> --}}
    

</head>
<body>
</body>
</html>