/*svg图标样式*/
.svg-icon {
    width:.18rem;
    height:.18rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
@font-face {
	font-family: 'oneR';
	src:url("./assets/font/FjallaOne-Regular.woff.ttf"); 
}
@font-face {
	font-family: 'sansB';
	src:url("./assets/font/SourceHanSansCN-Bold.ttf"); 
}
@font-face {
	font-family: 'sansN';
	src:url("./assets/font/SourceHanSansCN-Normal.ttf"); 
}
@font-face {
	font-family: 'sansR';
	src:url("./assets/font/SourceHanSansCN-Regular.ttf");
}
@font-face {
	font-family: 'sansM';
	src:url("./assets/font/SourceHanSansCN-Medium.ttf");
}
@font-face {
	font-family: 'orbiB';
	src: url("./assets/font/orbitron-bold.ttf");
}


.oneR{font-family:'oneR'!important;}
.sansB{font-family:'sansB'!important;}
.sansN{font-family:'sansN'!important;}
.sansR{font-family:'sansR'!important;}
.sansM{font-family:'sansM'!important;}
.orbiB{font-family:'orbiB'!important;}
html * {font-family:'sansR'!important;}


.border0{border:none!important;}

.flexSC{display: flex;justify-content: center;align-items: center;}
.flexSA{display: flex;justify-content: space-around;align-items: center;}
.flexSB{display: flex;justify-content: space-between;align-items: center;}

.flexDC{display: flex;flex-direction: column;}
.flexDCC{display: flex;flex-direction: column;justify-content: center;align-items: center;}

.flexDA{display: flex;flex-direction: column;justify-content: space-around;}