//dialog弹窗重构
.el-dialog{border-radius: 10px;}
.el-dialog__header{padding: 0;}
.stepDialog{
    .el-dialog_header_step{height: 60px;line-height: 60px;color:#fff;font-size: 24px;;background-image:url('../assets/img/lay_title_bg.png');background-repeat: no-repeat;background-size: 100% 101%;border-radius: 10px 10px 0 0;}
    .el-dialog__body{padding: 0 50px;}
}
.nodeDialog{
    .el-dialog__header{padding: 0 20px;;display:flex;justify-content: space-between;align-items: center;background-color:#3D568E;border-radius: 10px 10px 0 0;
        .blankDiv{height:100%;}
        .el-dialog_header_step{height:50px;line-height: 50px;color:#fff;font-size:18px;}
    }
     .el-dialog__body{padding:20px 50px 0;}

}
.el-dialog{display: flex;flex-direction: column;margin:0 !important;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);max-height:calc(100% - 30px);max-width:calc(100% - 30px);}
.el-dialog .el-dialog__body{flex:1;overflow: auto;}

//分页重构
.el-pagination{text-align: center;margin:20px auto;}

//dialog下table
.el-dialog .el-table{
    .el-table__header{
        tr{
            th{background-color:#CFD4DC;color:#516992;}
        }
    }
    .el-table__body{
        tr.el-table__row--striped {
            td{background-color: #EFF2F3!important;}
        }
    }
    th,td{text-align: center;padding: 0;height: 40px;}
}




.filghtTableBox{
    // .el-table__header-wrapper{
    //     .el-table__header{
    //         thead{
    //             tr{height: 30px;
    //                 th{padding: 0;
    //                     .cell{display: flex;justify-content: center;align-items: center;}
    //                 }
    //             }
    //         }
    //     }
    // }
}
//下拉框
.el-select{width: 100%;}

//导航
.el-tabs__item{padding: 0 10px;height: 50px;color:#666;}
.el-tabs__item.is-active .bage{background: #409EFF!important;}
.el-tabs__nav-wrap::after{opacity: 0;;}
.el-tabs__header{margin: 0 0 0 10px;}


//icon
[class*=" el-icon-"], [class^=el-icon-]{font-size: 18px;}
// .el-input__prefix{left:8px!important;}   


.el-notification{
    table{table-layout: fixed;width: 100%;
        tr td:nth-child(1){width: 80px;text-align: right;}
        td{
            padding: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}